<table class="table table-borderless" id="itemsTable">
<tr>
    <% columns.each do |column| %>
      <td>
        <%= column %>
      </td>
    <% end %>
<td>
    <div style="float:right;">
    <button type="button" onclick="addRow(event)" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
    </div>
</td>
</tr>

<%= render "shared/row", item: nil, template: true, index: nil, namespace: namespace %>
<% i = 0 %>
<% items.each do | item | %>
    <%= render "shared/row", item: item, template: false, index: i, namespace: namespace %>
    <% i += 1%>
<% end %>

<% if i == 0 %>
    <%= render "shared/row", item: nil, template: false, index: 0, namespace: namespace %>
<% end %>

</table>
