
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">C-3PO</h1>
    <p class="col-md-8 fs-4">To be able to do stuff, please login</p>
        <a class="btn btn-primary" href="<%= discord_oauth_url() %>">
        <i class="fab fa-discord"></i>
            Login
        </a>
</div>