<td>
    <input name="locations[<%= name_index %>][id]"   class="form-control" value="<%= item ? item.id : ''   %>" hidden />
    <input name="locations[<%= name_index %>][name]" class="form-control" value="<%= item ? item.name : '' %>"        />
</td>