<table class="table" id="locationsTable" >
<tr>
<td>
    Name
</td>
<td>
    <div style="float:right;">
    <button type="button" onclick="addRow(event)" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
    </div>
</td>
</tr>

<%= render "locations/row", location: nil, template: true, index: nil %>

<% locations.each_with_index do | location, index | %>
    <%= render "locations/row", location: location, template: false, index: index %>
<% end %>

<% if locations.count == 0 %>
    <%= render "locations/row", location: nil, template: false, index: 0 %>
<% end %>

</table>
